Source: foxxy-archive-keyring
Priority: important
Section: misc
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Build-Depends: debhelper (>= 9), jetring, gnupg
Standards-Version: 3.9.8

Package: foxxy-archive-keyring
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Provides: debian-archive-keyring, kali-archive-keyring
Description: Foxxy GPG Archive Keyring
 Public keys for the foxxy archives digital signature.

Package: foxxy-archive-keyring-udeb
Package-Type: udeb
Priority: optional
Architecture: all
Section: debian-installer
Depends: ${misc:Depends}
Provides: debian-archive-keyring, kali-archive-keyring, debian-archive-keyring-udeb, kali-archive-keyring-udeb
Recommends: gpgv-udeb
Description: Foxxy GPG Archive Keyring
 Public keys for the foxxy archives digital signature, in a minimal form for use
 in the installer.
